.floater{
    height:5px;
    width:5px;
    position:relative;
    border-radius: 50%;

    background-color: whitesmoke;
    box-shadow: 0 0 10px white;

    transition-duration: 400ms;
}

.fading{
    
}