header {
    margin: 30px 0;
}

nav {
    gap: 5px;
}

nav>* {
    height: 80px;
    min-width: 70px;
    width: 25%;
    max-width: 140px;
}

nav button:hover {
    transform: scale(110%);
    transition: 60ms;
}

nav button {
    height: 100%;
    width: 100%;
    padding: 0 !important;
    font-size: 0.9rem !important;
}

@media screen and (min-width:480px) {
    nav button {
        font-size: 1.1rem !important;
    }
}