.container__tela-principal{
    min-height:90vh;
    background: linear-gradient(#0d0629,#09101a);
    background-image: url(../src/trees-silhouette.png);
    background-size:cover;
    background-position: bottom;
}

.container__titulos{
    height:50vh;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

h1, h2{
    text-align: center;
}
h1{
    font-size: 3rem;
    font-weight: 800;
}

h2{
    font-size: 2rem;
    line-height: 3rem;
}
